body
{
    margin: 0;
    padding: 0;
}

.content-conceal-layer-active
{
    position: fixed;
    top: 60px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    cursor: pointer;
}

.menu
{
    position: fixed;
    top: 60px;
    left: -200px;
    z-index: 1;
    width: 200px;
    height: calc(100% - 60px);
    background-color: #FFF;
    transition: 0.3s;
}

.menu-open
{
    left: 0;
    transition: 0.3s;
}

.labels-section
{
}

.labels-section > p
{
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    padding: 5px;
}

.labels-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.labels-list > li
{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
}

.labels-list > li:hover,
.labels-list > li:hover .label-semi-circle-part
{
    background-color: #D8D8D8;
}

.labels-list > li.label-active,
.labels-list > li.label-active .label-semi-circle-part
{
    background-color: rgb(26, 115, 232) !important;
}

.labels-list > li:hover .label-name,
.labels-list > li.label-active .label-name
{
    color: #FFF;
}

.labels-list > li > p
{
    font-size: 20px;
    margin: 0;
    margin-left: 20px;
}

.sorting-section
{
    margin-top: 30px;
    padding: 5px;
}

.sorting-section > p
{
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

.sort-by-section
{
    height: 40px;
}

.sort-by-section > label
{
    text-transform: uppercase;
    margin-right: 5px;
}

.sort-by-select
{
    width: 100px;
    font-size: 15px;
}

.sort-type-section > label
{
    position: relative;
    top: -1px;
    text-transform: uppercase;
}

.sort-type-section > label[for="asc"]
{
    margin-right: 40px;
}

.main
{
    width: 100vw;
}

nav
{
    height: 40px;
    width: 100%;
    background-color: #1a73e8; /*TODO change with another color, copied from GCP!*/
    padding: 10px;
}

.toggler
{
    font-size: 35px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

nav > h2
{
    display: inline;
    position: relative;
    top: -4px;
    color: #FFF;
    margin-left: 20px;
}

.project-container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px 10px 0;
}

@media (max-width: 300px)
{
    .project-container
    {
        grid-row-gap: 40px;
    }
}

@media (min-width: 300px)
{
    .project-container
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px)
{
    .project-container
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 900px)
{
    .project-container
    {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px)
{
    .project-container
    {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1500px)
{
    .project-container
    {
        grid-template-columns: repeat(6, 1fr);
    }
}

.card
{
    position: relative;
    box-sizing: border-box;
    height: 300px;
    border: 1px solid #909090;
    border-radius: 3px;
    box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.2);
    transform-style: preserve-3d;
    transition: 0.5s;
}

.card-front,
.card-back
{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back
{
    transform: rotateY(180deg);
}

.card-flipped
{
    transform: rotateY(180deg);
}

.card-content
{
    box-sizing: border-box;
    height: calc(100% - 40px);
    border-bottom: 1px solid #909090;
}

.card-content > a
{
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card-content > a > img
{
    width: 100%;
    height: 100%;
}

.card-flipped .card-content,
.card-back .card-content
{
    display: flex;
    flex-direction: column;
}

.card-title
{
    color: #1a73e8;
    text-align: center;
    padding: 5px 0 10px;
    margin: 0;
    border-bottom: 1px solid #909090;
}

.card-details
{
    padding: 5px 10px 10px;
    margin: 0;
}

.card-labels-section
{
    margin-top: auto;
    padding: 5px 5px 0;
    border-top: 1px solid #909090;
}

.card-labels-section > p
{
    margin: 0;
}

.labels-row
{
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.labels-row > .label
{
    margin-right: 5px;
}

.label
{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.label-semi-circle-part
{
    position: absolute;
    top: 1px;
    width: 15px;
    height: 20px;
    background-color: white;
    border-right: 1px solid #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.label-main-part
{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.button-container
{
    flex-grow: 1;
    text-align: center;
}

.button-container > button
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #3367D6;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial;
    cursor: pointer;
    border: none;
    outline: none;
}

.button-container > button:hover
{
    color: #FFF;
    background-color: #C8C8C8;
    padding: 5px 12px;
    border-radius: 3px;
    transition: 0.1s;
}

.message-container
{
    text-align: center;
    margin-top: 20px;
}

.message-container > button
{
    color: #FFF;
    background: #1a73e8;
    font-size: 25px;
    cursor: pointer;
    padding: 5px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.2);
}

#message-text
{
    font-size: 20px;
}