body
{
    margin: 0;
    padding: 0;
}

.menu
{
    display: none;
}

.main
{
    width: 100vw;
}

nav
{
    height: 40px;
    width: 100%;
    background-color: #1a73e8; /*TODO change with another color, copied from GCP!*/
    padding: 10px;
}

.toggler
{
    font-size: 35px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
}

nav > h2
{
    display: inline;
    position: relative;
    top: -4px;
    color: #FFF;
    margin-left: 20px;
}

.project-container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px 10px 0;
}

@media (max-width: 300px)
{
    .project-container
    {
        grid-row-gap: 40px;
    }
}

@media (min-width: 300px)
{
    .project-container
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 600px)
{
    .project-container
    {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 900px)
{
    .project-container
    {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px)
{
    .project-container
    {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1500px)
{
    .project-container
    {
        grid-template-columns: repeat(6, 1fr);
    }
}

.card
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 300px;
    border: 1px solid #909090;
    border-radius: 3px;
    box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.2)
}

.card-content
{
    box-sizing: border-box;
    height: calc(100% - 40px);
    border-bottom: 1px solid #909090;
}

.card-content > img
{
    width: 100%;
    height: 100%;
}

.card-flipped .card-content
{
    display: flex;
    flex-direction: column;
}

.card-title
{
    color: #1a73e8;
    text-align: center;
    padding: 5px 0 10px;
    margin: 0;
    border-bottom: 1px solid #909090;
}

.card-details
{
    padding: 5px 10px 10px;
    margin: 0;
}

.labels-section
{
    margin-top: auto;
    padding: 5px 5px 0;
    border-top: 1px solid #909090;
}

.labels-section > p
{
    margin: 0;
}

.labels-row
{
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.labels-row > .label
{
    margin-right: 5px;
}

.label
{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.label-semi-circle-part
{
    position: absolute;
    top: 1px;
    width: 15px;
    height: 20px;
    background-color: white;
    border-right: 1px solid #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.label-main-part
{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.button-container
{
    flex-grow: 1;
    text-align: center;
}

.button-container > button
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #3367D6;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial;
    cursor: pointer;
    border: none;
    outline: none;
}

.button-container > button:hover
{
    color: #FFF;
    background-color: #C8C8C8;
    padding: 5px 12px;
    border-radius: 3px;
    transition: 0.1s;
}